@media only screen and (max-width: 1108px) {
  /* write styles we want to kick in for screens < 1108 px */
    .wrapper {
      /* not to be fixed anymore */
      width: 90%; /*5% on each side */
    }

    #social {
      /* don't want this positioned fixed */
      position: absolute;
      top: 82px;
      right: 4%;
      width: auto;
    }

    #social a {
      display: inline-block;
    }

    @media only screen and (max-width: 900px) {
      /* because the navigation bar is getting smushed, and
      because font could probably go down as image goes down */
      body {
        font-size: 85%;
      }

      #logo h1 {
        /*h1 is the logo and h2 is the Script Exceptional Realty */
        width: 35px;
        height: 35px;
      }

      #logo h2 {
        font-size: 2.2em;
      }

      #social {
        top: 72px;
      }

      .col-3 p {
        column-count: 2;
      }
    }

    @media only screen and (max-width: 800px) {
      #navbar nav a {
        font-size: 0.9em;
      }
    }


}
